@import '../../partials/_variables';
@import '../../partials/_mixins';
@use '../../partials/fonts' as *;

video {
    object-fit: cover;
}

.hero__video {
    width: 100%;
    height: auto;

    @include tablet {
        width: 91.145833333vw;
        height: 52.08333333vw;
    }

    @include desktop {
        height: 37.5vw;
        width: 65.5555555554vw;
    }
}

.hero__video-container{
    display: flex;
    justify-content: center;
    height: 57.1875vw;
    background-color: black;

    @include tablet {
        height: 52.08333333vw;
    }

    @include desktop {
        height: 37.5vw;
    }
}