@import '../../partials/_variables';
@import '../../partials/_mixins';

.nextVideoItem{


&__image {
    width: 37.5vw;
    height: 21.875vw;
}

&__container {
    width: 100%;
    display: flex;
    align-items: center;
}

&__txt-container {
    @include flexCol;

}
}