@import '../../partials/_variables';
@import '../../partials/_mixins';
@use '../../partials/fonts' as *;

* {
@include resetSCSS;
}

.article__title{
    @include H1-MOB;
    // margin-left: 5%;
    margin-bottom: 1rem;
    margin-top: 2rem;

    @include tablet {
        margin-top: 3rem;
        @include H1-DT;
        margin-bottom: 1.5rem;

    }
}

.article__channel {
    @include H2-MOB;
    // margin-left: 5%;
    margin-right: 2.5%;
    display: inline-block;
    font-weight: $demi-bold;

    @include tablet {
        display: inline;
        width: 100px;
        @include H3-DT;
    }
}

.article__channel-date-container {
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start;
    // justify-content: flex-start;
    @include tablet {
        margin-bottom: 0;
        justify-content: flex-end;

    }
}

.article__date {
    display: inline-block;
    @include H4-MOB;
    color: $silver;
    font-weight: $fontreg;
    position: relative;
    top: 2px;

    @include tablet{
        display: inline;
        width: 10rem;
        @include H3-DT;
        position: initial;

    }
}

.article__desktop-container {
    @include flexCol;
}

.article__views-container{
    display: flex;
    margin-right: 2.5%;
    // margin-left: 5%;
    align-items: flex-start;
}

.article__like-views-container {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $merc;

    @include tablet {
        border-bottom: none;
        padding-bottom: none;
    }

}

.article__likes-container{
    display: flex;
    align-items: flex-start;
    margin-left: 1.5rem;

    @include desktop {
        margin-left: none;
    }
}

.article__counter {
@include H4-MOB;
font-weight: $fontreg;
display: inline-block;
margin-left: .5rem;

@include tablet {
    @include H4-list-DT;
}

@include desktop {
    // margin-right: 2rem;
}
}

.article__art-com-container {
    @include desktop {
        @include flexCol;
    }
}

.article__container{
    margin: 0 1rem 1.5rem 1rem;
    width: 100vw;

    @include tablet {
        margin: 0 1.5rem 0 1.5rem;
    }

    @include desktop {
        margin: 0;
        width: 49.444444444vw;
    }
}

.article__content {
    @include H4-MOB;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding-right: 2rem;
    width: 95%;

    @include tablet {
        width: 73%;
        @include H4-para-DT;
    }

    @include desktop {
        width: 88%;
    }

}

.comments__title{
    @include H2-MOB;
    font-weight: $demi-bold;

    @include tablet {
        @include H4-para-DT;
        font-weight: $bold;
        margin-bottom: 2rem;
    }
}

.article__stats-container {
    @include tablet{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $merc;
        margin-right: 6rem;
        overflow-x:unset;
    }
}
