@import '../../partials/_variables';
@import '../../partials/_mixins';
@use '../../partials/fonts' as *;

* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    // font-family: "Avenir Next";
}

.article{

    &__art-com-container {

        @include desktop {
            @include flexCol;
        }
    }

    &__channel {
        @include H2-MOB;
        // margin-right: 2.5%;
        display: inline-block;
        font-weight: $demi-bold;
        margin-block-start: 0;
        margin-block-end: 0;
    
        @include tablet {
            display: inline;
            // width: 100px;
            @include H3-DT;
        }
    }

    &__channel-date-container {
        display: flex;
        margin-bottom: 2rem;
        align-items: flex-end;
        // justify-content: flex-end;
        @include tablet {
            margin-bottom: 0;
            justify-content: flex-end;
        }
    }

    &__container{
        // margin: 0 1rem 1.5rem 1rem;
        // width: 80%;

        @include tablet {
            // margin: 0 1.5rem 0 1.5rem;
        }

        @include desktop {
            margin: 0;
            // width: 49.444444444vw;
        }
    }

    &__content {
        @include H4-MOB;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        padding-right: 2rem;
        // width: 95%;

        @include tablet {
            width: 77%;
            @include H4-para-DT;
        }

        @include desktop {
            // width: 88%;
        }
    
    }

    &__counter {
        @include H4-MOB;
        font-weight: $fontreg;
        display: inline-block;
        margin-left: .5rem;

        @include tablet {
            @include H4-list-DT;
        }
    }

    &__date {
        display: inline-block;
        @include H4-MOB;
        color: $silver;
        font-weight: $fontreg;
        margin-left: .5rem;
        margin-block-start: 0;
    margin-block-end: 0;
        position: relative;
        bottom: 2px;

        @include tablet{
            bottom: 0;
            // display: inline;
            // width: 10rem;
            @include H3-DT;
            // position: initial;
    
        }
    }

    &__desktop-container {
        @include flexCol;
    }

    &__title{
    @include H1-MOB;
    // margin-left: 5%;
    margin-bottom: 1rem;
    margin-top: 2rem;

    @include tablet {
        margin-top: 3rem;
        @include H1-DT;
        margin-bottom: 1.5rem;
    }
}
    &__likes-container{
        display: flex;
        align-items: flex-start;
        margin-left: 1.5rem;

        @include desktop {
            margin-left: none;
        }
    }

    &__like-views-container {
        display: flex;
        align-items: flex-end;
        // justify-content: flex-end;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid $merc;
    
        @include tablet {
            border-bottom: none;
            padding-bottom: none;
        }
    }

    &__stats-container {
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 2px solid $merc;
            // margin-right: 6rem;
            // overflow-x:unset;
        }
    }

    &__views-container{
        display: flex;
        // margin-right: 2.5%;
        align-items: flex-start;
    }

    .comments__title {
        @include H2-MOB;
        font-weight: $demi-bold;

        @include tablet {
            @include H4-para-DT;
            font-weight: $bold;
            margin-bottom: 2rem;
        }
    }
}
