@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.nextVideoList {

    &__container {
        @include flexCol;
        align-items:flex-start;

        @include desktop {
            margin-right: 12.5vw;
        }
    }

    &__title {
        @include H4-MOB;
        font-weight: $demi-bold;
        color: $silver;
        margin: 2.5rem 0;
        align-self: flex-start;
        }
}