@import '../../partials/_variables';
@import '../../partials/_mixins';

.comments {
    @include flexCol;
    padding: 0 1rem;
    margin-bottom: 2.5rem;
    align-items: center;
    width: 100%;

    @include tablet {
        padding-left: 0;
    }

    @include desktop {
        align-items: flex-start;
        padding: 0;
    }

    &__button {
        margin-bottom: 2rem;
        background-color: $buttonBlue;
        color: $white;
        height: 3rem;
        @include H2-MOB;
        font-weight: $demi-bold;
        box-shadow: none;
        border: none;
        border-radius: 4px;

        @include tablet {
            width: 10rem;
            align-self: flex-end;
            height: 3rem;
        }

        &:hover {
            background-color: black;
        }

        &:focus {
            outline: none;
        }
    }


    &__comment-input {
        height: 6rem;
        padding: .5rem;
        text-align: start;
        background-color: $alab;
        border: 2px solid $merc;
        border-radius: 5px;
        margin-bottom: 1rem;
        resize: none;
        @include tablet {
            width: 57.291666666vw;
            margin-right: 1rem;
            height: 3rem;
        }

        @include desktop {
            margin-bottom: 1.5rem;
            width: 436px;
        }

        &:focus {
            outline: none;
            border: 3px solid $black;
            background-color: $white;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid $merc;
        width: 100%;

        @include desktop {
            // width: 36.666666666vw;
        }
    }

    &__form-container {
        @include flexCol;
        width: 100%;

        @include tablet {
            flex-direction: row;
        }
    }


    &__form-label {
        display: inline-block;
        @include H5-MOB;
        font-weight: $demi-bold;
        color: $silver;

        @include desktop {
            margin-bottom: .5rem;
        }
    }

    &__name-input {
        height: 3rem;
        padding-left: 1rem;
        border: 3px solid $merc;
        border-radius: 4px;
        margin-bottom: 1rem;
        background-color: $alab;

        &:focus {
            outline: none;
            border: 3px solid $black;
            background-color: $white;
        }
    }

    &__invite {
        @include H4-MOB;
        font-weight: $demi-bold;
        color: $silver;
        margin-bottom: .5rem;
        align-self: flex-start;
        margin-left: 54px;

        @include tablet {
            margin-left: 62px;
            @include H5-DT;
        }

        @include desktop {

            margin-left: 0;
        }
    }
}

.comment {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $merc;
    margin: 0 1rem;

    @include tablet {
        margin: 0;
    }

    &__btn-container {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }
    &__container {
        @include flexCol;
        width: 100%;
    }

    &__content {
        @include H4-MOB;

        @include tablet {
            @include H4-para-DT;
            width: 94.832826747%;
        }
    }

    &__date {
        margin-top: 1.5rem;
        display: inline-block;
        @include H4-MOB;
        color: $silver;

        @include tablet {
            margin-left: .5rem;
            margin-top: 1.75rem;
        }
    }

    &__delete-btn {
        display: inline-block;
        align-self: flex-start;
        border: none;
        padding:0;
        width: fit-content;
        background-color: $black;
        color: $alab;
        @include H5-MOB;
        font-weight: $demi-bold;
        padding: 0 .5rem;
        border-radius: 4px;

    }

    &__form-image-container {
        height: 100%;
        // width: 3rem;
        // height: 3rem;
        // border-radius: 50%;
        // margin-top: 1rem;
        // margin-right: 6px;
        // background-color: $silver;

        // @include tablet{
        //     margin-top: 0;
        //     justify-self: flex-end;
        // }

        // @include desktop {
        //     margin-top: 1.5rem;
        // }
    }

    &__image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-top: 1rem;
        margin-right: 6px;
        background-color: $silver;

        @include tablet{
            margin-top: 0;
            justify-self: flex-end;
        }

        @include desktop {
            // margin-top: 1.5rem;
        }
    }

    &__image-container {
        height: 100%;
        @include tablet {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            margin-right: .5rem;
            margin-top: 1.5rem;
            height: initial;
        }
        // margin-right: 6px;
    }

    &__like-btn {
        display: inline-block;
        background-color: $white;
        border: none;
        color: red;
        width: fit-content;
        align-self: flex-end;

        &:focus {
            outline: none;
        }
    }

    &__like-btn-cont {
        display: inline;
        color: red;
        text-align: right;
    }

    &__likes-text {
        align-self: flex-end;
    }

    &__name {
        margin-top: 1.5rem;
        @include H4-MOB;
        color: $black;
        font-weight: $demi-bold;
        display: inline-block;

        @include tablet {
            @include H3-DT;
        }
    }

    &__name-date-cont {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;

        @include tablet {
            justify-content: initial;
        }
    }

    &__profile-pic {
        background-image: url('../../assets/Mohan-muruge.jpg');
        background-size: cover;
        // margin-right: 1.25rem;
        }
}
