@import '../../partials/variables';
@import '../../partials/mixins';


.header {
    width: 100%;
    @include flexCol;
    padding: 0 1rem;
    height: 189px;

    @include tablet {
        flex-direction: row;
        // align-items:space-between;
        justify-content: space-between;

        padding: 0 1.5rem;
        padding-top: 1rem;
        height: 5rem;

        @include desktop {
            padding: 1rem 11.25rem 0 11.25rem;
            overflow-x: intitial;
        }


    }

    &__profile-image {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-image: url('../../assets/Mohan-muruge.jpg');
        background-size: cover;

        @include desktop {

        }

    }


    
    &__logo{
        width: 10rem;
        height: 2rem;
        padding: 12px 0;

    }

    &__logo-container {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;


        @include tablet {
            margin-right: 10.5625rem;

        }

        @include desktop {
            margin-right: 35.347222222%;
        }
    }

    &__search-container {
        position: relative;
    }


    &__searchBar {
        height: 3rem;
        border-radius: 4px;
        width: 95%;
        border-color: $silver;
        padding-left: 2rem;
        background-image: "../../assets/Icon-search.svg";
        position: relative;
       

        @include tablet {
            width: 11.25rem;
            justify-self: flex-end;
            margin-right: 1.5rem;
            // margin-right: -6rem;
        }

        @include desktop {
            // margin-right: -6rem;
        }

        &:focus {
            border:none;
            outline:none;
        }
    }  
    
    &__search-icon {
        // background-image: "../../assets/Icon-search.svg";
        height: 16px;
        width: 16px;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;



    }

    &__btn {
        background-color: $buttonBlue;
        width: 222px;
        margin-right: 1rem;
        height: 3rem;
        color: $alab;
        border-radius: 4px;
        display: inline-block;
        border: none;
        font-weight: $bold;
        @include H3-DT;


        @include tablet {
            // margin: 0 1.5rem;
            // width: 100px;
            margin-right: 1.5rem;
            width: 10rem;
        }

        @include desktop {
            // width: 10rem;
        }

        &:focus {
            border:none;
            outline:none;
        }
    }

    &__btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: .5rem;

        @include tablet {
            margin-top: 0;
            align-items: flex-start;
            justify-self: flex-end;
        }

    }

    &__profile-pic {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1.5rem;
    }

}



