@use 'variables' as *;


@mixin resetSCSS {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #323232;
  font-family: "Avenir Next","Roboto", cursive;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  overflow-x: hidden;
}




// Media query for tablet breakpoint
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

// Media query for desktop breakpoint
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Media query for mobile breakpoint
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

// Mixins used for font-size and line-height.

//DT is used to label Desktop/Tablet Text Styles, MOB is used to label Mobile Text Styles

@mixin H1-MOB {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin H2-MOB {
  font-size: .875rem;
  line-height: 1.375rem;
}

@mixin H4-MOB {
  font-size: .8125rem;
  line-height: 1.125rem;
}

@mixin H5-MOB {
  font-size: .75rem;
  line-height: 1.25rem;
}

@mixin H1-hero-DT {
  font-size: 3.75rem;
  line-height: 4.25rem;
}

@mixin H1-DT {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

@mixin H2-DT {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin H3-DT {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin H4-para-DT {
  font-size: .875rem;
  line-height: 1.375rem;
}

@mixin H4-list-DT {
  font-size:.875rem;
  line-height: 1.25rem;
}

@mixin H5-DT {
  font-size: .75rem;
  line-height: 1.25rem;
}

//Other mixins

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin mercRegFont {
  color: $merc;
  font-weight: $fontreg;
}