//Media Query breakpoint values

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

//Font color values
$alab:#FAFAFA;
$white:#FFFFFF;
$merc:#E1E1E1;
$black: #323232;
$silver: #AFAFAF;

//Font weight values
$bold: 700;
$demi-bold: 500;
$fontreg: 400;
