@import  './partials/variables';
@import "./partials/mixins";

*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;

}

.desktop-container {
  @include desktop{
    display: flex;
    margin: 0 180px;
  }
}

.desktop-art-container {
  width: 712px;
}

