@import  './partials/variables';
@import "./partials/mixins";

*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;

}

.desktop-container {
  @include desktop{
    display: flex;
    margin-left: 12.5%;
  }
}

.desktop-art-container {
  @include desktop {
  // width: 49.4444vw;
}
}
